body {
  font-family:monospace;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: aliceblue;

}
.hidden {
  display: none;
}
input {
  all: inherit;
  display: inline;
  height: 50px;
  padding: 0 24px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #222;
  /* text-align: center; */
  font-size: 1rem;
}
input::placeholder {
  color: #555;
}
h2 {
  margin: 40px 0;
  font-size: 5rem;
}

img {
  min-width: 1280px;
  min-height: 700px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

span {
  font-size: 1.1rem;
}